<ion-header class="custom-header" [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
 <img src="/assets/rainbow.png" class="top-image" alt="Book image" />

<form (ngSubmit)="login()">
  <div class="button-wrapper">
  <ion-item class="rounded-input ion-margin-top">
    <ion-input 
    label="Email" 
    type="email" 
    placeholder="Enter email" 
    [(ngModel)]="email"
    name="email">  
  </ion-input>
  </ion-item>
 
  <ion-item class="rounded-input ion-margin-top">
     <ion-input 
    label="Password" 
    type="password" 
    placeholder="Enter password" 
    [(ngModel)]="password"
    name="password">
    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
  </ion-input>
 </ion-item>

  <ion-button expand="block" fill="clear" class="ion-margin-top custom-login-button" (click)="login()">Login</ion-button>

  <ion-button expand="block" fill="clear"  style="--color: #443627" routerLink="/register">Don't have an account? Register </ion-button>

  </div>
 </form>
</ion-content>