<!-- <ion-header class="custom-header" [translucent]="true">
  <ion-toolbar>
    <ion-title>Bookly</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="home-content">
    
 <img src="/assets/fairytale.png" class="top-image" alt="Book image" />
 <p style="color: #443627; font-style: italic;">Your personal reading space</p>
 
<div class="button-wrapper">
  <ion-button expand="block" fill="clear" class="custom-button" routerLink="/login" >
    Login
  </ion-button>

  <ion-button  expand="block" fill="clear" class="custom-button" routerLink="/register" >
    Register
  </ion-button>


  </div>
</ion-content>