.custom-header ion-toolbar {
  --background: #be986d;       
}
.custom-header ion-title {
  font-weight: bold;
  font-size: 22px;
  color: #443627;
  font-style: italic;
}

ion-content{
  //  --background:#d6cfcb;
--background: none;
  background: url('/assets/back1.jpg') no-repeat center center fixed;
  background-size: cover;
}

.custom-card {
  --background: #fef9ef;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  color: #443627;
}

.actions-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4px;
}
