<ion-header class="custom-header" [translucent]="true">
  <ion-toolbar>
    <ion-title>My Readings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ng-container *ngIf="books.length > 0; else noBooksTemplate">
    <ion-card *ngFor="let book of books" class="custom-card">
      <ion-card-header>
        <ion-card-title>{{ book.Title }}</ion-card-title>
        <ion-card-subtitle>{{ book.Author }} — {{ book.PublishedYear }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{ book.Description }}
        <!-- <ng-container *ngIf="myread.find(r => r.BookId === book.Id) as reading"> -->
        <ng-container *ngFor="let reading of myread" >
  <ng-container *ngIf="reading.BookId === book.Id">
    <div *ngIf="reading.Status === StatusEnum.Finished">
       <p><strong>Rating:</strong> {{ reading.Grade }}</p>
       <p><strong>Comment:</strong> {{ reading.Comment }}</p>
    </div>

    <!-- <div>
      <ion-button 
          fill="clear" 
          color="danger" 
          size="small" 
          [id]="'delete-alert-' + book.Id">
          <ion-icon slot="icon-only" name="trash" size="large"></ion-icon>
      </ion-button>

      <ion-alert
        [trigger]="'delete-alert-' + book.Id"
        header="Confirm Delete"
        message="Are you sure you want to remove this book from your list?"
        [buttons]="getAlertButtons(book.Id)"
        (didDismiss)="setResult($event)">
      </ion-alert>
    </div>
    
         <div>
            <ion-button
              *ngIf="reading.Grade === 0 && (!reading.Comment || reading.Comment.trim() === '')"
              size="small"
              (click)="openImpressionDialog(book.Id)">
              Your impression
            </ion-button>

            <ion-button
              *ngIf="reading.Grade > 0 || (reading.Comment && reading.Comment.trim() !== '')"
              fill="clear"
              color="medium"
              size="small"
              (click)="openImpressionDialog(book.Id)">
              <ion-icon slot="icon-only" name="create-outline" size="large"></ion-icon>
            </ion-button>
          </div> -->

<div class="actions-row">
  <ion-button
    *ngIf="reading.Grade > 0 || (reading.Comment && reading.Comment.trim() !== '')"
    fill="clear"
    color="medium"
    size="small"
    (click)="openImpressionDialog(book.Id)">
    <ion-icon slot="icon-only" name="create-outline" size="large"></ion-icon>
  </ion-button>

  <ion-button 
    fill="clear" 
    color="danger" 
    size="small" 
    [id]="'delete-alert-' + book.Id">
    <ion-icon slot="icon-only" name="trash" size="large"></ion-icon>
  </ion-button>
</div>

<ion-alert
  [trigger]="'delete-alert-' + book.Id"
  header="Confirm Delete"
  message="Are you sure you want to remove this book from your list?"
  [buttons]="getAlertButtons(book.Id)"
  (didDismiss)="setResult($event)">
</ion-alert>

        </ng-container>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #noBooksTemplate>
    <ion-text color="medium" class="ion-text-center">
      <p>You have no books in your reading list.</p>
    </ion-text>
  </ng-template>

</ion-content>
