<ion-header class="custom-header" [translucent]="true">
  <ion-toolbar>
    <ion-title>Admin Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Make Admin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input
        [(ngModel)]="email"
        type="email"
        placeholder="User Email"
        style="border-bottom: 1px solid #442c27;">
      </ion-input>

      <div style="display: flex; justify-content: center; margin-top: 16px;">
        <ion-button color="danger" style="width: 50%;" (click)="makeAdmin()">
          Make Admin
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>