<ion-header class="custom-header" [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="ion-padding">
  <ng-container *ngIf="userProfile$ | async as profile; else loading">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ profile.firstName }} {{ profile.lastName }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Email:</strong> {{ profile.email }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container> -->

  <ion-content class="ion-padding">
  <ng-container *ngIf="userProfile$ | async as profile; else loading">
    <div class="profile-container">

      <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>

      <h2 class="full-name">{{ profile.firstName }} {{ profile.lastName }}</h2>

      <!-- <div class="info-row">
        <strong>First name:</strong>
        <p>{{ profile.firstName }}</p>
      </div>

      <div class="info-row">
        <strong>Last name:</strong>
        <p>{{ profile.lastName }}</p>
      </div>

      <div class="info-row">
        <strong>Email:</strong>
        <p>{{ profile.email }}</p>
      </div> -->
 </div>

  <ion-list class="custom-list" [inset]="true">
    <ion-item>
      <ion-label>
          <strong>First name:</strong> {{ profile.firstName }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
          <strong>Last name:</strong> {{ profile.lastName }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
          <strong>Email:</strong> {{ profile.email }}
      </ion-label>
    </ion-item>
  </ion-list>



   
  </ng-container>

  <ng-template #loading>
    <ion-text color="medium">Loading the profile...</ion-text>
  </ng-template>
</ion-content>
